.grid-item img{
    max-width: 250px;
    max-height: 250px;
}
.grid-container{
    display: grid;
    column-gap: 50px;
    row-gap: 30px;
    grid-template-columns: auto auto auto auto;
}
.grid-item  a{
    color: rgb(20, 170, 20);
}

main{
    padding-left: 60px;
}
header{
    padding-top: 10px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    background-color: orangered;
}
header a{
    color: white;
}
nav{
    padding-left: 60px;
}
footer{
    margin-top: 10px;
    padding: 5px 40px;
    background-color: olivedrab;
}
th{
    text-align: left;
    padding-right: 10px;
}
h1{
    color: green;
}
tbody tr:not(:first-child):nth-child(odd){
    background-color: rgba(128, 128, 128, 0.233);
}
